*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-image:linear-gradient(rgba(5, 19, 73, 0.7),rgba(5, 19, 73, 0.7)),url("images/newpicsback2.jpg");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-bar{
    background: grey;
    text-align: center;
    overflow: auto;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: aliceblue;
}
.menu-bar ul li{
    width: 100px;
    float:right;
    margin: 5px;
    padding: 5px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover{
    background: green;
    border-radius: 3px;
}
.sub-menu{
    display: none;
    position: absolute;
    z-index: 1;
}
.sub-menu-1{
    display: none;
    position: absolute;
    z-index: 1;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: gray;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius:10px;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li :last-child{
    border-bottom: none;
}
.header{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    border: 2px solid black;
    width: 30%;
    box-shadow:10px 10px 50px 10px white;
    padding: 15px 35px;
    margin: 50px;
    border-radius: 10px;
    animation:border-animation 5s ease-in-out infinite;
    text-align: center;
}
@keyframes border-animation{
    0%{
      border-color:red;
    }
    25%{
     border-color:green;
    }
    50%{
     border-color:black;
    }
    75%{
     border-color:yellow;
    }
    100%{
     border-color:maroon;
    }
   }
.sub-title{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    text-align: center;
    color: white;
}
.grid{
    margin-top: 70px;
    display: grid;
    width: 70em;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    align-items: start;
}
.grid-item{
    background-color: gray;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
    margin-bottom:80px;
}
.card{
    margin-top: 20px;
    margin-bottom: 60px;
    margin-right: 20px;
    margin-left: 20px;
    height: 60%;
    width:80%;
    padding: 15px 35px;
    background: black;
    text-align: center;
    font-size: 25px;
    border-radius: 30px;
}
.card p{
    font-size: 18px;
    color: #fff;
    padding-top: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text-box{
    width:90%;
    color: whitesmoke;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.center{
    margin: 40px auto;
}
.text-box h1{
    font-size: 62px;
}
.text-box h1 p{
    margin: 10px 0 40px;
    font-size: 15px;
    color: whitesmoke;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:linear-gradient(rgba(5, 19, 73, 0.7),rgba(5, 19, 73, 0.7)), url("images/newpicsback2.jpg");
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content header{
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: bold;
    color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 40%;
    animation:border-animation 5s ease-in-out infinite;
    margin: 50px;
    box-shadow:10px 10px 50px 10px purple;
    padding: 15px 35px;
    font-style: italic;
}
.contact .content p{
    font-weight: 200;
    font-size: 25px;
    color: aqua;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h5{
    font-weight: 700;
    color: blue;
    font-size: 20px;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background-color: #fff;
    margin-left: 30%;
    box-shadow:10px 10px 50px 10px purple;
}
.contactForm h6{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
     width: 100%;
     padding: 5px 0;
     font-size: 16px;
     margin: 10px 0;
     border: none;
     border-bottom: 2px solid #333;
     outline: none;
     resize: none;
}
.text-box2 .content header{
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: bold;
    color: white;
    font-style: italic;
    text-align: center;
    border: 2px solid gold;
    width: 30%;
    box-shadow:10px 10px 50px 10px purple;
    padding: 15px 35px;
    margin: 40px;
    margin-left: 40%;
    border-radius: 10px;
    animation:border-animation 5s ease-in-out infinite;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span{
    color: #1058c5;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background-color:green;
    color: #fff;
    border: 2px solid black;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.text-box2 h4{
    font-size: 25px;
    font-weight: 800;
    color: aqua;
    box-shadow:10px 10px 50px 10px purple;
    border-radius: 10px;
    border: 2px solid gold;
    padding: 15px 35px;
    width: 20%;
    margin-left: 100px;
}
.text-box2 ul li{
    margin: 0%;
    display: list-item;
    color: #fff;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 160px;
    margin-bottom: 5px;
}
.text-box3 h4{
    font-size: 25px;
    font-weight: 800;
    color: aqua;
    box-shadow:10px 10px 50px 10px purple;
    width: 20%;
    padding: 15px 35px;
    border-radius: 10px;
    border: 2px solid gold;
    margin-left: 100px;
}
.text-box3 ul li{
    margin: 0%;
    display: list-item;
    color: #fff;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 160px;
    margin-bottom: 5px;
}
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gold;
}
fieldset{
    margin-top: 80px;
    padding: 15px 35px;
    margin-bottom: 80px;
    margin-left: 40%;
    width: 50%;
    background-color:rgb(247, 238, 193);
}
fieldset h5{
    font-size: 30px;
    text-align: center;
    font-style: oblique;
}
form{
    width: 100%;
    max-width: 600px;
}
.input-group{
    margin-bottom: 30px;
    position: relative;
    border-radius: 10px;
}
input,textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    background: transparent;
    font-size: 15px;
}
label{
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
    color: black;
}
.container{
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .btn{
      border: 0;
      outline: none;
      cursor: pointer;
      font-size: 18px;
      font-weight: 200;
      border-radius: 30px;
  }
  .popup{
      width: 400px;
      background: black;
      border-radius: 6px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,-50%) scale(0.1);
      text-align: center;
      padding: 0 30px 30px;
      color: blue;
      visibility: hidden;
      transition: transform 0.4s,top 0.4s;
  }
  .open-popup{
      visibility: visible;
      top: 50%;
      transform: translate(-50%,-50%) scale(1);
  }
  .popup img{
      width: 100px;
      margin-top: -50px;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .popup h2{
      font-size: 22px;
      font-weight: bold;
      margin: 30px 0 10px;
  }
  .popup button{
      width: 100%;
      margin-top: 50px;
      padding: 10px 0;
      background: #6fd649;
      color: black;
      border: 0;
      outline: none;
      font-size: 18px;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
footer{
    position: relative;
    background: black;
    height: 20vh;
    min-width: 100%;
    font-family: "Open Sans";
    padding-top: 20px;
    padding: 20px 0;
    text-align: center;
}
.footer-content{
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h4{
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 100%;
    margin: 10px auto;
    line-height: 14px;
    font-size: 12px;
}
.socials{
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: blue;
}
.footer-bottom{
    background:black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 12px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: capitalize;
    opacity: .4;
    font-weight: bold;
}
@media only screen and(max-width:600px){
    body{
        font-size: 14px;
        }
    }
@media only screen and(max-width:600px){
    body{
        font-size: 16px;
        }
    }
.move-right{
    float: right;
    }
@
